* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url("../Open_Sans/static/OpenSans-Regular.ttf");
} 

@font-face {
    font-family: opensans;
    font-weight: 300;
    src: url("../Open_Sans/static/OpenSans-Light.ttf");
}

@font-face {
    font-family: opensans;
    font-weight: 600;
    src: url("../Open_Sans/static/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: opensans;
    font-weight: 900;
    src: url("../Open_Sans/static/OpenSans-ExtraBold.ttf");
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 195px;
    height: 70px;
    margin-top: 8px;
}

body {
    font-family: "opensans" Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}
header .container .menu {
    margin-left: 105px;
}


header > .container {
    padding: 40px 20px;
}

header .header .container {
    height: 100%;
}

.logo img {
    position: absolute;
    top: 2%;
    left: 4%;
    animation-name: logo-animation;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

@keyframes logo-animation {
    0% {
        width: 195px;
        height: 70px;
        top: 2%;
        left: -17%;
    }

    25% {
        width: 195px;
        height: 70px;
        padding-bottom: 10px;
        border-bottom: 4px solid rgb(181, 35, 35);
        border-radius: 50px;
    }


    50% {
        width: 195px;
        height: 70px;
        padding-left: 10px;
        border-left: 4px solid rgb(38, 27, 187);
        border-radius: 50px;
    }

    50% {
        width: 195px;
        height: 70px;
        padding-top: 10px;
        border-top: 4px solid rgb(31, 183, 76);
        border-radius: 50px;
    }

    75% {
        width: 195px;
        height: 70px;
        padding-right: 10px;
        border-right: 4px solid rgb(189, 199, 38);
        border-radius: 50px;
    }

    100% {
        width: 195px;
        height: 70px;
    }
    }


header .container .menu a{
    font-size: 0.875em;
    text-decoration: none;
    color: rgba(65, 59, 59, 0.927);
    margin: 0 20px;
    transition: 0,5s all ease;
}       

header .container .menu a:hover,
header .container .menu a.active{
    font-weight: 600;
    color: #ffae16;
    padding-bottom: 7px;
    border-bottom: 3px solid #ffae16;

}

header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ffae16;
    border-radius: 50px;
    width: 320px;
}

header form div input[type="text"]{
    border: none;
    margin-right: 10px;
}

header form div input[type="submit"]{
    background: url(../images/main/free-icon-search-3810856.png) no-repeat;
    background-size: cover;
    width: 15px;
    border: none;
}

header form div input[type="submit"]:hover {
    cursor: pointer;
}

header .cart {
    align-items: flex-start;
}
 
header .cart div p {
    font-size: 0.938em;
    color: rgb(76, 68, 68);
}

header .cart div a {
    font-size: 0.870em;
    color: #ffae16;
    text-decoration: none;
}

header .cart img {
    margin: 7px;
    width: 28px;
    height: 28px;
}

footer {
    background: rgb(63, 61, 61);
    padding-top: 50ox;
    padding-bottom: 20px;
}

footer .left {
    align-items: flex-start;
    margin-top: 45px;
}

footer .left figure figcaption {
    color: #f3f3f3;
    font-size: 0.875em;
    margin-top: 25px;
    width: 180px;
}

.left img {
    width: 195px;
    height: 70px; 
}

footer .left nav {
    margin-left: 100px;
}

footer .left nav a {
    display: block;
    font-size: 0.875em;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}

footer .left nav a:hover, footer .left nav a.active {
    color: #ffae16;
}

footer .right form div {
    justify-content: left;
    width: 458px; 
    border-bottom: 1px solid #fff;
}

footer .right > div {
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    margin-top: 33px;
    margin-bottom: 15px;
}

footer .right form input[type="text"]{
    padding: 8px 0;
    width: 100%;
    background: none;
    border:none;
}

footer .right form input[type="submit"]{
    background: url(../images/main/white.png) no-repeat;
    background-size: cover;
    width: 15px;
    border: none;
}

footer .right .box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 16px 50px 0;
}

footer .copyrights {
    text-align: center;
    color: #f3f3f3;
    font-size: 0.750em;
    margin-top: 60px;
}

footer .right .insta {
    background: url(../images/main/free-icon-instagram-1384063.png) no-repeat;
    background-size: cover;
    animation-name: insta;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

@keyframes insta {
    0% {
        width: 50px;
        height: 50px;
    }
    50% {
        margin-right: -53px;
        width: 60px;
        height: 60px;
    }
    
    100% {
        width: 50px;
        height: 50px;
    }
}

footer .right .insta:hover {
    background: url(../images/main/insta.png.png) no-repeat;
    background-size: cover;
}

footer .right .telegram {
    background: url(../images/main/telegram_2111646.png) no-repeat;
    background-size: cover;
    animation-name: insta;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-delay: 3s;
}

@keyframes telegram {
    0% {
        width: 50px;
        height: 50px;
    }

    50% {
        margin-right: -53px;
        width: 60px;
        height: 60px;
    }

    75% {
        width: 60px;
        height: 60px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

footer .right .telegram:hover {
    background: url(../images/main/free-icon-telegram-logo-87413.png) no-repeat;
    background-size: cover;
}

footer .right .vk {
    background: url(../images/main/vk_5968835.png) no-repeat;
    background-size: cover;
    animation-name: insta;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-delay: 6s;
}

@keyframes vk {
    0% {
        width: 50px;
        height: 50px;
    }

    75% {
         width: 60px;
        height: 60px;
        margin-left: -153px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

footer .right .vk:hover {
    background: url(../images/main/vkontakte_2190437.png) no-repeat;
    background-size: cover;
}





