/*
 >= 1200
 992 - 1199
 768 - 991
 576 - 768
 460 - 576
 414 - 460
 375 - 414
 320 - 375
 */

 @media screen and (max-width: 1199px){ 
    
    header form div {
        width: 200px;
    }
}

@media screen and (max-width: 991px){

    header > .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header > .container > img {
        margin-right: 35px;
    }

    header > .container form, header > .container .cart {
        margin-top: 15px;
    }

    header > .container form {
        margin-right: 30px;
    }

    header form div {
        width: 335px;
    }

    footer .right form div {
        width: 268px;
        margin-right: 40px;
    }

    footer .right .box {
        width: 30px;
        height: 30px;
        margin: 0 15px;
        margin-top: 10px;
    }

    footer .left {
        margin-left: 20px;
    }
}

@media screen and (max-width: 767px){

    header .menu {
        margin: 15px 0;
    }

    .logo img {
        height: 50px;
        width: 165px;
        top: -1%;
        left: 1%; 
    }
}


@media screen and (max-width: 576px){

    header form div {
        width: 240px
    }

    header .container .menu a {
        margin:0 10px;
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .right {
        margin: 20px auto 0;
    }

    footer .right form div {
        width: 299px;
        margin-right: 2px;
    }

    footer .copyrights {
        margin-top: 18px;
    }

    header > .container > img {
        margin-right: 22px;
    } 

    .logo img {
        top: 1%;
        left: 6%; 
    } 

    .container-fluid {
        width: 130%;
    }
}

@media screen and (max-width: 460px){

    header > .container form, header > .container .cart {
        margin-top: 17px;
    }

    footer .left nav {
        margin-left: 50px;
    }
}

@media screen and (max-width: 378px){
    
    header form {
        margin-right: 0!important;
    }

    footer .left {
        display: block;
    }

    footer .left figure figcaption {
        width: auto;
    }

    footer .left figure {
        text-align: center;
    }

    footer .left nav {
        margin-top: 45px;
    }
}